.add-answer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2222;
  min-width: 60rem;
  background-color: var(--white);
  padding: 2.4rem;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media screen and (max-width: 480px) {
    min-width: 50rem;
  }

  &__title {
    color: var(--cyan);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > svg {
      font-size: 1.8rem;
      cursor: pointer;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
  }
}
