.answear-item {
  flex: 1 0 15rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 1.6rem;
  transition: all 0.2s ease;

  &--active {
    background-image: url("../../public/select.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 4rem;

    & > span {
      display: none;
    }
  }

  & span {
    color: var(--white);
    font-weight: 600;
  }

  &:hover {
    transform: scale(0.95);
    opacity: 0.9;
  }
}
