.card {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  background-color: var(--white);
  max-width: 40rem;
  border-radius: 1.4rem;
  font-family: "Dela Gothic One";
  box-shadow: 0 2rem 4.5rem -1.2rem rgba(52, 41, 39, 0.08);
  transition: all 0.3s ease;

  & > img {
    width: 30rem;
    transition: all 0.3s ease;
  }

  & > h6 {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--dark);
    text-align: center;
  }

  &:hover {
    transform: scale(0.95);

    & > img {
      transform: rotate(15deg);
    }
  }
}
