.progress-article {
  display: flex;
  flex-direction: column;
  font-family: "Dela Gothic One", sans-serif;

  @media screen and (max-width: 768px) {
    align-items: center;
  }

  &__title {
    font-size: 4.8rem;

    @media screen and (max-width: 1024px) {
      font-size: 4rem;
    }

    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }

  &__paragraph {
    padding: 3rem 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--grey-dark);

    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }
}
